@charset "UTF-8";
@import url(reset.css);
/*
 *  --------------------------------
 *  弹性盒子flex布局类
 *  ----------------------------------
*/
.flex, .flex_col, .flex_wrap, .indexPage .productIconList .list, .productPage .wrap .rightAside .productList, .productDetailPage .wrap .rightAside .productMsg, .flex_spaceBetween, .flex_center, .header .linkList, .productPage .wrap .leftAside .typeList .typeItem .title, .header, .tabbar .iconList, .tabbar .linkList, .internetPage .mapWrap .searchInput, .productPage .wrap, .productPage .wrap .leftAside .typeList .typeItem .slide > div, .productDetailPage .wrap, .productDetailPage .wrap .rightAside .productMsg .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.flex_col {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.flex_wrap, .indexPage .productIconList .list, .productPage .wrap .rightAside .productList, .productDetailPage .wrap .rightAside .productMsg {
  -webkit-flex-wrap: wrap;
  -webkit-box-lines: multiple;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex_right, .header .linkList {
  margin-left: auto; }

.flex_spaceBetween {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-box-pack: space-between;
  -webkit--moz-box-pack: space-between;
  box-pack: space-between; }

.flex_center, .header .linkList, .productPage .wrap .leftAside .typeList .typeItem .title {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -moz-box-pack: center;
  -webkit--moz-box-pack: center;
  box-pack: center; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 14px;
  width: 100%;
  background: #fff;
  line-height: 1.42857143; }

a {
  text-decoration: none; }

.sectionTitleBox {
  position: relative;
  height: 100px; }
  .sectionTitleBox .wrap {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%); }
  .sectionTitleBox .label {
    position: relative;
    color: darkgray;
    font-size: 14px;
    padding-bottom: 20px;
    display: inline-block; }
    .sectionTitleBox .label:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: #ffc908; }
  .sectionTitleBox .title {
    color: #000;
    font-size: 32px;
    line-height: 46px; }

.header {
  width: 100%;
  background: #fff;
  height: 80px;
  padding: 10px 30px;
  border-bottom: 1px solid #f5f5f5; }
  .header .logoImg {
    width: 180px;
    height: auto; }
  .header .linkList > a {
    color: #b0b0b0;
    padding: 0 20px; }

.tabbar {
  background: #fff;
  border-top: 1px solid #ccc;
  overflow: hidden;
  margin-top: 60px; }
  .tabbar .iconList {
    -webkit-justify-content: center;
    justify-content: center;
    -moz-box-pack: center;
    -webkit--moz-box-pack: center;
    box-pack: center;
    padding: 40px 0; }
    .tabbar .iconList > a {
      padding: 0 18px; }
      .tabbar .iconList > a img {
        width: 36px;
        height: 36px; }
  .tabbar .scanBox {
    width: 100%;
    text-align: center;
    margin-bottom: 10px; }
    .tabbar .scanBox img {
      width: 120px;
      height: 120px; }
  .tabbar .linkList {
    -webkit-justify-content: center;
    justify-content: center;
    -moz-box-pack: center;
    -webkit--moz-box-pack: center;
    box-pack: center;
    margin: 20px 0; }
    .tabbar .linkList > a {
      color: #b0b0b0;
      padding: 0 30px; }

.pageContainer, .productPage .wrap, .productDetailPage .wrap {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }

.indexPage .bannerSwiper {
  width: 100%;
  height: 340px; }
  .indexPage .bannerSwiper img {
    width: 100%;
    height: 100%; }
.indexPage .productIconList {
  background: url("../images/indexBg01.png") no-repeat 0/cover;
  padding: 20px; }
  .indexPage .productIconList .title {
    color: #fff;
    letter-spacing: 5px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px; }
  .indexPage .productIconList .list .item {
    width: 12%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center; }
    .indexPage .productIconList .list .item img {
      width: 85px;
      height: 85px;
      margin-bottom: 10px; }
    .indexPage .productIconList .list .item p {
      color: #fff; }
  .indexPage .productIconList .moreBtn {
    color: #fff;
    border: 1px solid #fff;
    margin: 20px auto 40px;
    width: 250px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 5px; }
  .indexPage .productIconList .arrowBtn {
    width: 45px;
    height: 45px;
    margin: 0 auto 10px; }
    .indexPage .productIconList .arrowBtn img {
      width: 100%;
      height: 100%; }

.internetPage {
  background: #fff; }
  .internetPage .title {
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding: 40px 0;
    text-align: center; }
  .internetPage .mapWrap {
    width: 500px;
    margin: 0 auto; }
    .internetPage .mapWrap .searchInput {
      -webkit-align-items: center;
      align-items: center;
      width: 100%;
      padding: 0 10px;
      height: 36px;
      border: 1px solid #d1d1d1;
      border-radius: 8px;
      background: #fff;
      margin-bottom: 30px; }
      .internetPage .mapWrap .searchInput input {
        box-flex: 1;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        flex: 1;
        -webkit-flex: 1;
        overflow: hidden; }
      .internetPage .mapWrap .searchInput .searchImg {
        width: 23px;
        height: 23px;
        margin-left: auto; }
    .internetPage .mapWrap .mapContainer {
      width: 500px;
      height: 300px; }
      .internetPage .mapWrap .mapContainer .anchorBL {
        display: none; }
    .internetPage .mapWrap .storeList {
      margin-top: 60px; }
      .internetPage .mapWrap .storeList .item {
        margin-bottom: 17px; }
        .internetPage .mapWrap .storeList .item:hover {
          color: #000;
          font-weight: 600; }
        .internetPage .mapWrap .storeList .item p {
          font-size: 14px;
          color: #363636;
          cursor: pointer;
          line-height: 20px;
          text-decoration: underline; }

.productPage {
  width: 100%;
  background: #fff; }
  .productPage .wrap {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -moz-box-pack: space-between;
    -webkit--moz-box-pack: space-between;
    box-pack: space-between; }
    .productPage .wrap .leftAside .typeList .typeItem {
      width: 180px;
      color: #fff;
      font-size: 14px; }
      .productPage .wrap .leftAside .typeList .typeItem .title {
        height: 60px;
        background: #273536;
        position: relative; }
        .productPage .wrap .leftAside .typeList .typeItem .title:after {
          content: "";
          position: absolute;
          right: 15px;
          top: 50%;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid #fff;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
      .productPage .wrap .leftAside .typeList .typeItem .slide > div {
        -webkit-align-items: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 60px;
        background: #F5F5F5;
        color: #666;
        text-align: center;
        padding: 0 20px;
        line-height: 20px; }
        .productPage .wrap .leftAside .typeList .typeItem .slide > div:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          background: #DFDFDF;
          height: 1px; }
        .productPage .wrap .leftAside .typeList .typeItem .slide > div:hover {
          background: #4B4239;
          color: #fff; }
    .productPage .wrap .rightAside {
      width: 1000px; }
      .productPage .wrap .rightAside .productList .item {
        position: relative;
        width: calc(25% - 15px);
        margin-right: 15px;
        min-height: 500px; }
        .productPage .wrap .rightAside .productList .item:nth-of-type(4n) {
          margin-right: 0; }
        .productPage .wrap .rightAside .productList .item:hover .productName {
          display: block; }
        .productPage .wrap .rightAside .productList .item:hover:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 380px;
          border: 3px solid #333;
          z-index: 1; }
        .productPage .wrap .rightAside .productList .item:hover:before {
          content: "";
          position: absolute;
          left: 8px;
          top: 8px;
          width: calc(100% + 5px);
          height: 388px;
          background: gray; }
        .productPage .wrap .rightAside .productList .item .imgWrap {
          position: relative;
          width: 100%;
          text-align: center;
          z-index: 2; }
          .productPage .wrap .rightAside .productList .item .imgWrap img {
            max-width: 100%;
            height: 430px; }
        .productPage .wrap .rightAside .productList .item .productName {
          display: none;
          width: 100%;
          border: 3px solid #333;
          text-align: center;
          padding: 5px 10px;
          color: #333;
          margin-top: 20px; }

.productDetailPage {
  position: relative; }
  .productDetailPage .wrap {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -moz-box-pack: space-between;
    -webkit--moz-box-pack: space-between;
    box-pack: space-between;
    margin-top: 50px; }
    .productDetailPage .wrap .leftAside {
      width: 500px; }
      .productDetailPage .wrap .leftAside ._magnifier {
        border: 5px solid #DFDFDF; }
    .productDetailPage .wrap .rightAside {
      width: 600px; }
      .productDetailPage .wrap .rightAside .title {
        font-size: 24px;
        font-weight: bold;
        line-height: 26px;
        margin-bottom: 20px; }
      .productDetailPage .wrap .rightAside .arrow {
        color: blue;
        font-size: 30px; }
      .productDetailPage .wrap .rightAside .grayBlock {
        background: #ddd;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 20px;
        line-height: 28px; }
      .productDetailPage .wrap .rightAside .productMsg {
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd; }
        .productDetailPage .wrap .rightAside .productMsg .item {
          width: 50%;
          line-height: 37px;
          padding: 0 5px;
          border-right: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          font-size: 14px; }
          .productDetailPage .wrap .rightAside .productMsg .item:nth-of-type(2n) {
            border-left: 0; }
          .productDetailPage .wrap .rightAside .productMsg .item .label {
            color: #333;
            font-weight: bold;
            margin-right: 10px; }
  .productDetailPage .leftArrow {
    position: absolute;
    left: 30px;
    top: 50%;
    font-size: 30px; }
  .productDetailPage .rightArrow {
    position: absolute;
    RIGHT: 30px;
    top: 50%;
    font-size: 30px; }

/*# sourceMappingURL=common.css.map */
